<%=turbo_frame_tag "search-form" do %>
  <%= search_form_for @q, url: search_path , html: { class: 'search-form' }, data:{turbo_frame: "search-results"},format: :turbo_stream do |f| %>
    <div class="search-wrapper">
      <%= f.search_field :name_or_email_cont, class: 'search-input', placeholder: 'Search'%>
      <i class="fa-solid fa-magnifying-glass"></i>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

