<div class="field">
  <%= f.label :email, class: "label-text" %>
  <div class="left-inner-addon">
    <i class="fa-solid fa-envelope"></i>
    <%= f.email_field :email, placeholder: "example@yourdomain.com", required: true %>
  </div>
</div>