.homepage-box{
    height: 100vh;
    width: calc(100vw - 70px);
    position: fixed;
    right: 0;
    display: flex;
}

.homepage-left-panel{
    flex: 0 1 380px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.homepage-central-panel{
    flex: 0 1 1000px;
    background-color: blue;

}

.homepage-right-panel{
    flex: 0 1 300px;
    background-color: brown;
}

