<%= turbo_stream.remove "private-chats" %>

<%= turbo_stream.update "search-results" do %>
    <% @users.each do |user| %>
        <div class="search-results-each">
            <%= user.name %>
            <%= user.email %>
        </div>
        <% end %>
<% end %>



