.chats-show{
    display: flex;
    width:100%;
    flex-direction: column-reverse;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.no-conversations{
    margin: auto;
    color: grey;
    font-size: large;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: 50%;
}




.message-box{
    margin: 15px;
    max-width: 60%;
    padding: 5px;
    display: block;
    align-self: start;
    display: flex;
    font-size: medium;

}

.message-box aside{
  flex: 0 0 60px;
  margin: 8px;
  
}

aside img{
  height: 60px;
  width: 100%;
  border-radius: 100%;
  margin: 8px;
  padding: 8px;

}

.message-box main{
  flex: 4;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.message-time{
  font-size: small;
  color: grey;
}

.message-content{
  word-wrap: break-word;
  padding: 5px 10px;
  border-radius: 20px;
  color: black;
  max-width: 100%;
  background-color: #dfdfdf;
  font-size: medium;

}

.main img{
 width: 300px;
 height: 400px;

}

.sender-name{
  font-size: small;
  color: grey;
}


.messages-new{
    display: block;
    float: bottom;
    width:100%;
        height: 80px;
  

}

.messages-new-form {
    width: 80%;
    margin: auto;
  }

  .wrap{
    display: flex;
    position: relative;
    border: 1.5px solid rgb(177, 172, 172);
    border-radius: 20px;
    z-index: 1;
  }

  .wrap:focus{
    border: 2px solid blueviolet;
  }

  .messages-new-form input[type="text"]{
    padding-right:80px;
    width: 100%;
    background: transparent;
    display: inline-block;
    border: none;
        
    outline: none;
  }

  

  


  .message-picture {
    display: none;
    position: absolute;
  }

  .messages-new-form label{
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    right:60px;
    top: 15px
  }


  .messages-new-form input[type="submit"]{
    width:50px;
    position: absolute;
    background: white;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    right:5px;
    top: 15px;

  }

#central-panel{
  position:relative;
}

.channel-edit{
  width:fit-content;
  position: relative;
  top: 50%;
  transform:translateY(-50%);
  border-radius: 20px;
}

textarea{
  width: 400px;
  height: 200px;
}

textarea::placeholder{
  margin: auto;
  color: grey;
}

#cancel-btn{
  float: right;
}