.sidebar {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 70px;
    background-color: var(--red-dark-color);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar .logo-first {

    border: 2px solid var(--white-color);
    margin-top: var(--space-m);
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    min-height: 22vh;
    justify-content: space-between;
    margin-top: 25vh;
}


.sidebar-buttons i {
    display: block;
    color: var(--white-color);
}

.sidebar-buttons i:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}