:root {
  --red-dark-color: #BE263B;
  --red-light-color:  #eb5757;
  --white-color:  #fbfcfd;
  --black-color: #333333;
}

body {
  font-family: "Roboto";
  background-color: var( --white-color);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
}

a:hover {
  color: #eb5757;
}

.text-red {
  color: var( --red-dark-color);
}

.text-centre {
  text-align: center;
}

.logo {
  font-weight:500;
  font-size: 24px;
  line-height: 26px;
  color: var( --red-dark-color);
  text-align: center;
}

.logo-first {
  font-style: italic;
  font-size: 20px;
  font-weight: 400px;
  display: inline-block;
  padding: 5px 10px;
  background-color: var( --red-dark-color);
  color: white;
  border-radius: 20px;
}

.notice{
  color: green;
  text-align: center;
  padding-bottom: 15px ;
  margin: 10px 0;
}

.alert{
  color: var(--red-dark-color);
  text-align: center;
  padding-bottom: 15px;
  margin: 10px 0;
}



/* Login Section */


.box-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2);
  padding: 0px 30px ;
}

.signin-box-container{
  padding: 10px 220px 50px 220px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.form-container {
  min-width: 400px;
}

.form-title {
  font-size: 1.5em;
  line-height: 24px;
  color: #736D6D;
  text-align: center;
} 

.form-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  text-align: center;
}


.label-text {
  line-height: 24px;
  color: var(--black-color);
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
  padding-left: 35px !important;
}

.left-inner-addon i {
  position: absolute;
  padding: 20px 12px;
}

input[type="submit"] {
  width: 100%;
  color: var(--white-color);
  background-color: var( --red-dark-color);
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}


input[type="radio"] {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-width: 5px;
  border: 2px solid black;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  border: 5px solid var( --red-dark-color);
}

.radio-label-text {
  position: relative;
  width: 24px;
  height: 14px;
  left: -15px;
  top: -5px;
  margin-left: 30px;
  margin-top: 5px;
  color: black;
  opacity: 0.7; 
} 

.image-container{
  padding-left: 50px;
}

#error_explanation{
  font-size: 12px;
  color: var(--red-light-color);
  padding-bottom: 8px;

}