<% flash.each do |flash_type, message| %>
<div
    class="flash-message"
    data-controller="removals"
    data-action="animationend->removals#remove"
  >
    <p><%= message %></p>
  </div>
<% end %>