<div class="sidebar">
  <div class="logo-first">
      biz
  </div>
  <div class="sidebar-buttons">
    <%= link_to edit_user_registration_path do %>
    <i class="fa-solid fa-wrench fa-2xl"></i>
    <% end %>
    <%= link_to chats_path, data: {turbo_frame: "empty-search-results"} do %>
    <i class="fa-regular fa-comment fa-2xl"></i>
    <% end %>
  </div>
</div>